.navbar-expand-lg .navbar-collapse{
    align-content: flex-end;
    flex-wrap: wrap;
    flex-direction: column;
}

body{
    background-color: #161848;
    padding-top:76px;
    position: relative;
    background-image: url("img/hero2.png");
    background-repeat: no-repeat;
    background-position:1140px -350px;
    z-index: 9;
}

.navbar{
    /* background-color: #161848; */
    /* background-color: transparent; */
    padding: 0;
}

#navbar-container{
    overflow: hidden;
}

.icon-div h4{
    display: inline;
    margin: 0;
    font-weight:bold;
    color: #f3f4f8;
    margin-left: 5px;
}

.logo{
    width: 40px;
    height: 40px;
}

.nav-button{
    background-color: #4e6bff;
    border: none;
    padding: 0 30px;
    border-radius: 50px;
    color: white;
}

.nav-item{
    padding-right: 10px;
}

#navbarSupportedContent li:first-child a{
    Color:#4e6bff;
}

.sign-in{
    border: none;
    background-color: transparent;
    padding: 10px;
    padding-right: 10px;
    color: white;
}

.sign-up{
    background-color: #5c90a5;
    border: none;
    padding: 0 30px;
    border-radius: 50px;
    color: white;
    margin-top: 5px;
}

.icon-1{
    padding:20px;
    background-color: rgb(224, 42, 127);
    border-radius: 100%;
}

.icon-2{
    padding:20px;
    background-color: rgb(42, 224, 148);
    border-radius: 100%;
}

.icon-3{
    padding:20px;
    background-color: rgb(224, 151, 42);
    border-radius: 100%;
}

.features-div{
    margin-top: 400px;
}